# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.js    text eol=lf
*.ts    text eol=lf
*.tsx   text eol=lf
*.jsx   text eol=lf
*.json  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.md    text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.sh    text eol=lf

# Binary files
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary
*.zip   binary
