# pnpm 配置
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling
node-linker=isolated
